<div class="ui secondary  menu">
  <a class="item active">
    Strona główna
  </a>
  <a class="item">
    Spotkania
  </a>
  <a class="item">
    Kontakt
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<%= image_tag("logo.jpg", class: "ui fluid image") %>