<br>

<%= image_tag("logo.png", class: "ui fluid logo image") %>
<div class="ui olive raised center aligned segment">
  <p>
  <div class="center aligned icon container">
    <i class="huge circular inverted yellow paw main icon"></i>
    <i class="huge circular inverted olive birthday main icon"></i>
    <i class="huge circular inverted green child main icon"></i>
    <i class="huge circular inverted teal puzzle main icon notmobile"></i>
    <i class="huge circular inverted blue soccer main icon"></i>
    <i class="huge circular inverted violet leaf main icon notmobile"></i>
    <i class="huge circular inverted purple road main icon notmobile"></i>
    <i class="huge circular inverted brown cocktail main icon notmobile nottablet"></i>
    <i class="huge circular inverted orange bicycle main icon notmobile nottablet"></i>
  </div>
  <br><br><br>
  <div id="container">
  Masz ochotę pojeździć <b>na rolkach</b>, zagrać <b>w nogę</b> albo <br>
  wyjść <b>na piwo</b>, ale nie masz ekipy? <br>
  Mamy dla Ciebie <b><span class="wieksze">ratunek</span></b>!<br>
  Stwórz własne <b>spotkanie</b> lub dołącz do kogoś, <br>
  poznaj nowych znajomych i przeżyj coś <b>niesamowitego</b>! <br><br>
  </div>
<div class="ui buttons">
  <%= link_to("Szukaj spotkania", events_path, class:"ui button") %>
  <div class="or" data-text="lub"></div>
  <%= link_to("Stwórz własne", new_event_path, class:"ui green button") %>
</div>
  <br><br>
  </p>
</div>