<div class="ui secondary  menu">
  <a class="item active">
    Strona główna
  </a>
  <a class="item">
    Spotkania
  </a>
  <a class="item">
    Kontakt
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<%= image_tag("logo.jpg", class: "ui fluid image") %>
<div class="ui raised segment">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
</div>