<% if model.errors.any? %>
  <div class="ui negative message">
    <div class="header">
      Formularz zawiera <%= model.errors.count %> <%= name_errors(model.errors.count) %>
    </div>
    <ul class="list">
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>