// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

#container
{
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 30px;
}

#stopka
{
	font-family: 'Josefin Sans', sans-serif;
  margin-top: 3.5em;
  box-shadow: 0 0 6px #c0c0c0;
}

.wieksze
{
	font-size: 23px;
}

#formularz
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#formularz2
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.column
{
	font-family: 'Josefin Sans', sans-serif;
}

#tekstowo
{
	float: left;
	margin-left: 150px;
}

#createmap
{
	height: 400px;
}

#eventmap
{
	height: 324px;
}

img.ui.logo.image {
  box-shadow: 0 0 4px #c2c2c2;
  border-radius: 3px;
}

// main icon instance (not device dependent)
i.main.icon {
  opacity: 1;
  @include transition(opacity .1s ease-in-out);
  &:hover {
    opacity: 0.8;
    filter: alpha(opacity=50);
    zoom: 1;
  }
}

// mobile
@media only screen and (max-width: 767px) {
  i.main.icon {
    &:not(:first-child) {
      margin-left: -0.95em;
    }
    &.notmobile {
      display: none;
    }
  }
  #formularz {
    width: auto;
  }
}

// tablet
@media only screen and (min-width: 768px) and (max-width: 991px) {
  i.main.icon {
    &:not(:first-child) {
      margin-left: -0.40em;
    }
    &.nottablet {
      display: none;
    }
  }
}

// computer
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  i.main.icon {
    &:not(:first-child) {
      margin-left: -0.4em;
    }
  }
}