<!DOCTYPE html>
<html>
  <head>
    <title>PiastCode</title>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDSi_n0DKUFHcC7d4cbqANACFb_oPvJZ3A"></script>    
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
   
  </head>
  <body>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
